<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706234737189-sdoiu9jhq4scdgldqu3v62tbjo8tr8fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706234737189-sdoiu9jhq4scdgldqu3v62tbjo8tr8fu</string>
	<key>API_KEY</key>
	<string>AIzaSyCDDsTZGBz8kOHMzpn-Jx4rlcXxN7dpHAc</string>
	<key>GCM_SENDER_ID</key>
	<string>706234737189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Grocery</string>
	<key>PROJECT_ID</key>
	<string>fir-43e71</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-43e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706234737189:ios:969a78592b6130167755cc</string>
</dict>
</plist>